:root {
  --primary-color: #007bff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 2vh;
}

.header h1 {
  font-size: 4em;
  color: white;
  padding: 1vh;
  margin: 0;
}

.header h2 {
  font-size: 1.5em;
  color: white;
  padding: 1vh;
  margin: 0;
}

section {
  padding: 1vh;
  margin: 1vh;
}

h1, h2 {
  color: var(--primary-color);
  font-size: 2em;
}

.portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.project-card {
  border: 0.1vw solid #ddd;
  padding: 1em;
  border-radius: 5px;
  width: 25em;
}

.footer {
  text-align: center;
  background-color: #000044;
  color: white;
  padding: 20px;
}

.footer .social-links a {
  margin: 0 1vw;
  width: 100%;
  color: white;
  text-decoration: none;
}

.footer .social-links a:hover {
  text-decoration: underline;
}
