/* Variables */
:root {
  --theme-color-1: white;
  --theme-color-2: #CCC;
  --theme-color-3: black;
  --theme-color-4: #AAA;
  --theme-color-5: #555;
  --card-gap: 2rem;
  --signature-icon-radius: 1.5rem;
  --about-icon-width: 2rem;
  --card-width: 32rem;
  --card-border-radius: 1rem;
  --card-border-width: 0.1rem;
  --section-gap: 8rem;
}

/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
}

h2 {
  margin: 0;
  font-weight: 300;
  font-size: 3rem;
}

h3 {
  margin: 0;
  font-weight: 300;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

h5 {
  margin: 0;
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--theme-color-5);
}

p {
  margin: 0;
  font-weight: 300;
  line-height: 1.7rem;
}

/* React app styling */
#top-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header component styling */
.header {
  box-sizing: border-box;
  width: 100%;
  height: calc(4 * var(--signature-icon-radius));
  padding: 0% 5%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-color-1);
  z-index: 1;
}

.dropdown .menu-icon {
  box-sizing: border-box;
  width: calc(2 * var(--icon-radius));
  height: calc(2 * var(--icon-radius));
  padding: 10%;
  border-radius: var(--icon-radius);
  border: solid;
  border-width: var(--card-border-width);
  border-color: var(--theme-color-4);
  display: none;
}

.signature {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signature .icon {
  width: calc(2 * var(--signature-icon-radius));
  height: calc(2 * var(--signature-icon-radius));
  border-radius: var(--signature-icon-radius);
  object-fit: cover;
  object-position: 0% 90%;
}

/* Footer component styling */
.footer {
  box-sizing: border-box;
  width: 100%;
  padding: var(--card-gap);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: var(--theme-color-2);
  color: var(--theme-color-3);
}

.footer a {
  color: var(--theme-color-3);
  text-decoration: underline;
}

.footer p {
  font-size: 1rem;
}

.footer .social-links {
  display: flex;
  gap: 1rem;
}

.footer .social-links a {
  margin: calc(var(--card-gap) / 2);
  display: flex;
  gap: 0.25rem;
  color: var(--theme-color-3);
  text-decoration: none;
}

.footer .social-links a img {
  height: 1rem;
}

.footer a:hover {
  color: var(--theme-color-5);
}

/* Main body styling */
.main-body {
  width: 90%;
  margin-top: calc(4 * var(--signature-icon-radius) + 5%);
  margin-bottom: 5%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.main-body section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--card-gap);
}

/* Intro component styling */
.intro p {
  font-size: 1.2rem;
  text-align: center;
}

/* About component styling */
.about .section-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--card-gap);
}

/* AboutCard component styling */
.about-card {
  width: var(--card-width);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: calc(var(--card-gap) / 2);
}

.about-card-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.about-card-heading .icon {
  height: var(--about-icon-width);
  object-fit: cover;
  object-position: 0% 90%;
}

.about-card p {
  text-align: justify;
}

/* Experience component styling */
.experience .section-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  gap: var(--card-gap);
  justify-content: center;
}

/* ExperienceCard component styling */
.experience-card {
  box-sizing: border-box;
  width: var(--card-width);
  height: calc(0.85 * var(--card-width));
  padding: 5%;
  border: solid;
  border-radius: var(--card-border-radius);
  border-color: var(--theme-color-4);
  border-width: var(--card-border-width);
  position: relative;
  text-align: left;
}

.experience-card .company-name {
  margin-top: 2%;
  margin-bottom: 4%;
}

.experience-card .logo {
  max-width: 50%;
  max-height: 20%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

/* Projects component styling */
.projects .section-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  gap: var(--card-gap);
  justify-content: center;
}

/* ProjectCard component styling */
.project-card {
  width: var(--card-width);
  height: calc(3 * var(--card-width) / 4);
  border: solid;
  border-radius: var(--card-border-radius);
  border-color: var(--theme-color-4);
  border-width: var(--card-border-width);
  background-size: 100% 100%;
  overflow: hidden;
  align-content: end;
  text-decoration: none;
}

.project-card-overlay {
  box-sizing: border-box;
  height: 25%;
  margin: 0;
  padding: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
  background-color: rgb(240 240 240 / 95%);
}

.project-card .title {
  font-weight: 400;
  justify-content: center;
  text-align: left;
}

.project-card .description {
  color: black;
  font-size: 1rem;
  line-height: 1.4;
}

.project-card:hover {
  transform: scale(1.02);
}
