/**
 * This file defines general styling for the body, headings, paragraphs, sections, and various components.
 *
 * The main components styled in this file are:
 * - React app (#react-app)
 * - Header component (.header)
 * - Main body (.main-body)
 * - Intro component (.intro)
 * - Photos component (.photos)
 * - About component (.about)
 * - AboutCard component (.about-card)
 * - Experience component (.experience)
 * - ExperienceCard component (.experience-card)
 * - Projects component (.projects)
 * - ProjectCard component (.project-card)
 *
 * Each component has its own specific styling rules and classes.
 * The file also includes media queries to adjust the font size multiplier based on the width of the viewport.
 */

/* Variables */
@media (width >= 34rem) {
  :root {
    --heading-font-size-multiplier: 0.1;
  }
}

@media (width < 34rem) and (width >= 28rem) {
  :root {
    --heading-font-size-multiplier: 0.075;
  }
}

@media (width < 28rem) {
  :root {
    --heading-font-size-multiplier: 0.05;
  }
}

:root {
  --theme-color-1: white;
  --theme-color-2: #222;
  --theme-color-3: #aaa;
  --theme-color-4: #555;
  --section-gap: min(5vh, 5em);
  --header-vertical-padding: min(2vh, var(--heading-icon-radius));
  --card-gap: max(1vh, 2em);
  --unit-width: 5rem;
  --landscape-photo-max-width: calc(20 * var(--unit-width));
  --portrait-photo-max-width: calc(var(--landscape-photo-max-width) / 3);
  --about-card-max-width: calc(8 * var(--unit-width));
  --experience-card-max-width: calc(8 * var(--unit-width));
  --skills-banner-max-width: calc(20 * var(--unit-width));
  --project-card-max-width: calc(5 * var(--unit-width));
  --skill-tile-width: 10em;
  --card-border-radius: 1em;
  --card-border-width: 0.1em;
  --heading-icon-radius: calc(
    0.5em + 5em * var(--heading-font-size-multiplier)
  );
  --about-icon-height: calc(1em + 10em * var(--heading-font-size-multiplier));
}

/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  color: var(--theme-color-2);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: calc(1em + 22em * var(--heading-font-size-multiplier));
  text-align: center;
}

h2 {
  font-size: calc(1em + 15em * var(--heading-font-size-multiplier));
}

h3 {
  font-size: calc(1em + 10em * var(--heading-font-size-multiplier));
}

h4 {
  font-size: calc(1em + 6em * var(--heading-font-size-multiplier));
}

h5 {
  font-size: calc(1em + 3em * var(--heading-font-size-multiplier));
}

h6 {
  font-size: calc(1em + 1em * var(--heading-font-size-multiplier));
}

p {
  margin: 0;
  font-weight: 300;
  line-height: 1.7em;
}

.overlay-text {
  padding: 0.5em;
  border-style: solid;
  border-color: var(--theme-color-4);
  border-width: 0.1em;
  color: black;
}

/* React app styling */
#react-app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header component styling */
.header {
  box-sizing: border-box;
  width: 100%;
  padding: var(--header-vertical-padding) 5vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: right;
  z-index: 2;
  background-color: rgba(255 255 255 / 80%);
}

.signature {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.signature .icon {
  width: calc(2 * var(--heading-icon-radius));
  height: calc(2 * var(--heading-icon-radius));
  border-radius: var(--heading-icon-radius);
  object-fit: cover;
  object-position: 0% 90%;
}

/* Main body styling */
.main-body {
  width: 90vw;
  margin-top: calc(2 * var(--heading-icon-radius) + 10vh);
  margin-bottom: 5vh;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.main-body section {
  margin: var(--section-gap) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--card-gap);
}

/* Intro component styling */
.intro p {
  font-size: calc(1em + var(--heading-font-size-multiplier));
  text-align: center;
}

/* Photos component styling */
section.photos {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.photos img {
  border-radius: 1em;
}

@media (width < 35em) {
  .photos .top-portrait {
    width: 100%;
  }

  .photos .landscape {
    display: none;
  }

  .photos .bottom-portrait {
    display: none;
  }
}

@media (width < 80em) and (width >= 35em) {
  .photos .top-portrait {
    max-width: 50vw;
    max-height: 70vh;
    margin-right: -5%;
    margin-bottom: 10%;
  }

  .photos .landscape {
    display: none;
  }

  .photos .bottom-portrait {
    max-width: 50vw;
    max-height: 70vh;
    margin-left: -5%;
    margin-top: 10%;
  }
}

@media (width >= 80em) {
  .photos .top-portrait {
    max-width: min(20vw, var(--portrait-photo-max-width));
    max-height: 50vh;
    margin-right: -10%;
    margin-bottom: 10%;
    z-index: 1;
  }

  .photos .landscape {
    max-width: min(60vw, var(--landscape-photo-max-width));
    max-height: 80vh;
    aspect-ratio: 4 / 3;
  }

  .photos .bottom-portrait {
    max-width: min(20vw, var(--portrait-photo-max-width));
    max-height: 50vh;
    margin-left: -10%;
    margin-top: 10%;
    z-index: 1;
  }
}

/* About component styling */
.about .section-body {
  display: flex;
  gap: var(--card-gap);
}

@media (width < 80em) {
  .about .section-body {
    flex-direction: column;
    align-items: center;
  }
}

@media (width >= 80em) {
  .about .section-body {
    flex-direction: row;
    justify-content: center;
  }
}

/* AboutCard component styling */
.about-card {
  box-sizing: border-box;
  max-width: var(--about-card-max-width);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
}

.about-card-heading {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

.about-card-heading h3 {
  display: inline;
  text-wrap: nowrap;
}

.about-card-heading .icon {
  height: var(--about-icon-height);
}

.about-card p {
  text-align: justify;
}

/* Experience component styling */
.experience .section-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    min(100%, var(--experience-card-max-width))
  );
  grid-auto-rows: 1fr;
  gap: var(--card-gap);
  justify-content: center;
}

/* ExperienceCard component styling */
.experience-card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5%;
  border: solid;
  border-radius: var(--card-border-radius);
  border-color: var(--theme-color-3);
  border-width: var(--card-border-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 2em;
  text-align: left;
}

.experience-card .heading {
  width: 100%;
}

.experience-card .heading .heading-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.experience-card .heading .heading-content-container .logo {
  max-width: min(40%, 7em);
  max-height: 4em;
  align-self: center;
}

.experience-card .heading .heading-content-container .info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-self: center;
}

.experience-card .heading .heading-content-container .info .company-name {
  color: var(--theme-color-4);
}

/* Skills component styling */
.skills .skillsets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    min(100%, var(--skills-banner-max-width))
  );
  justify-content: center;
  gap: calc(var(--card-gap) + 1em) var(--card-gap);
}

.skills .skillsets .skillset-container {
  width: min(100%, var(--skills-banner-max-width));
  display: flex;
  justify-content: center;
}

/* SkillsetBanner component styling */
.skillset-banner {
  width: min(100%, var(--skills-banner-max-width));
  padding: max(2em, 2%) 1%;
  border: solid;
  border-width: var(--card-border-width);
  border-color: var(--theme-color-3);
  border-radius: var(--card-border-radius);
  position: relative;
}

.skillset-banner .heading {
  padding: 0 0.5em;
  position: absolute;
  top: -0.75em;
  left: 5%;
  background-color: var(--theme-color-1);
}

.skillset-banner .skills-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--skill-tile-width));
  gap: var(--card-gap) 0.5em;
  justify-content: center;
}

.skillset-banner .skill-tile {
  width: var(--skill-tile-width);
  height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 0.5em;
}

.skillset-banner .skill-tile-image {
  height: 5em;
}

/* Projects component styling */
.projects .section-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    min(100%, var(--project-card-max-width))
  );
  grid-auto-rows: 1fr;
  gap: var(--card-gap);
  justify-content: center;
}

/* ProjectCard component styling */
.project-card {
  box-sizing: border-box;
  width: 100%;
  min-height: max(calc(var(--project-card-max-width) * 0.8));
  height: 100%;
  border: solid;
  border-radius: var(--card-border-radius);
  border-color: var(--theme-color-3);
  border-width: var(--card-border-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-decoration: none;
}

.project-card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--card-border-radius);
  z-index: -1;
}

.project-card .tags {
  padding: 3%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5em;
  font-size: 0.85em;
}

.project-card .tags .tag {
  padding: min(0.5em, 1.5vw);
  border-radius: 2em;
  background-color: rgba(100 100 100 / 80%);
  color: white;
}

.project-card .overlay {
  background-color: rgb(240 240 240 / 90%);
}

.project-card .overlay .overlay-content-container {
  box-sizing: border-box;
  min-height: fit-content;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project-card .overlay .title {
  margin: 0;
  font-weight: 400;
  color: var(--theme-color-4);
}

.project-card .overlay .description {
  color: black;
  line-height: 1.4;
}

.project-card .hover-overlay {
  background-color: rgba(255 255 255 / 70%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
}

.project-card:hover {
  transform: scale(1.02);

  .hover-overlay {
    opacity: 1;
  }
}

/* Footer component styling */
.footer {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5vh;
  padding: calc(2 * var(--header-vertical-padding));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  text-align: center;
  background-color: rgba(200 200 200 / 80%);
  color: var(--theme-color-2);
  overflow: hidden;
}

.footer a {
  color: var(--theme-color-2);
  text-decoration: underline;
}

.footer p {
  font-size: 1em;
}

.footer .social-links {
  display: flex;
  gap: 2vw;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: var(--theme-color-2);
  text-decoration: none;
}

.footer .social-links a img {
  height: 1em;
}

.footer a:hover {
  color: var(--theme-color-4);
}
